<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.891226246691-norl5s572gf544q9j8vpq4cmqur6809b</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>891226246691-norl5s572gf544q9j8vpq4cmqur6809b.apps.googleusercontent.com</string>
</dict>
</plist>
